# Git Ignore: se agrega para filtrar en caso que haya archivos o carpetas que no formen parte la web y no deban subir al repo
# Archivos de logs
*.log

# Archivos de node.js
node_modules/

# Archivos de compilación
/dist
/build
/public

# variables de entorno
.env

# Archivos temporales del VS Code
.vscode/

# Archivos y directorios de SO
Thumbs.db       
