@use '../base/variables' as *;

/* Estilos generales */
.top-banner,
.middle-header,
.banner,
.menunavegacionprincipal {
    width: 100%;                        /* Asegura que todas ocupen el ancho completo */
    box-sizing: border-box;             /* Evita problemas con el padding y width */
    margin: 0;
    padding: 0;
}

/* Estilo para el banner de aviso superior */
.top-banner {
    background-color: $topbannerbc;         /* Color de fondo del banner */
    color: white;                         /* Color del texto */
    text-align: center;                     /* Centrar el texto */
    font-size: 12px;                        /* Tamaño del texto */
    padding: 10px;
}

.middle-header {
    display: flex;                          /* Uso de flex */
    background-color: $sitecolor;
    justify-content: space-between;

    .logo {
        width: 300px;  
        height: auto;       
        vertical-align: center;
    }
}

/* Estilo para la barra de navegación */
.barra-navegacion {
    ul {
        display: flex;                  /* Hace que los elementos de la lista se alineen en fila */
        align-items: center;            /* Alinea verticalmente los elementos */
        justify-content: right;         /* Distribuye los elementos uniformemente */
        list-style: none;               /* Elimina los bullets */
    }
}

.banner {
    img {
        width: 100%;
        height: auto;
        display: block;                 /* Evita espacios en blanco */
    }
}

.menunavegacionprincipal {
    text-align: center; 
    background-color: $sitecolor;

    ul {
        display: flex;                  /* Hace que los <li> estén en línea */
        justify-content: center;        /* Centra los elementos horizontalmente */
        padding: 0;
        margin: 0;
        
        li {
            margin: 0 15px;             /* Espaciado entre los elementos */
        }
    }

    a {
        color: white;
        text-decoration: none; 
        padding: 10px 20px;
        margin: 0 15px; 
        font-size: 30px; 
        font-family: $sitefont;
        display: inline-block; 

        &:hover {
            background-color: rgb(255, 174, 139);  /* Cambia el fondo al pasar el mouse */
        }
    }
}

.rounded-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;                /* Bordes redondeados */
    border: 1px solid #ccc;           /* Un borde suave de color gris */
}

.search-button {
    color: white;
    width: 150px; 
    height: 40px; 
    font-size: 16px;
    background-color: $sitecolor;
    font-family: $sitefont;
}

/* Media query para hacer el menú de navegación principal de la página que sea vertical en pantallas pequeñas */
@media (max-width: 768px) {
    .menunavegacionprincipal {
        ul {
            flex-direction: column;             /* Cambia a disposición por columnas */
            align-items: center;                /* Centra los elementos */
            gap: 10px;                          /* Reduce el espacio entre elementos */
        }

        li {
            width: 100%;                        /* Ocupar el ancho completo */
            text-align: center;                 /* Centrar el texto */
        }
    }

    .middle-header {
        flex-direction: column;                 /* Cambia a disposición vertical */
        align-items: center;                    /* Centra los elementos */
        text-align: center;
        gap: 10px;
    }

    .barra-navegacion {
        nav {
            ul {
                display: flex;
                flex-direction: row;            /* Íconos en fila */
                align-items: center;
                gap: 10px;
            }
        }
    }

    .search-container {
        width: 100%;                            /* Para que el buscador sea más accesible */
        max-width: 400px;
    }

    #search-button {
        display: none;                          /* Oculta el botón en pantallas pequeñas */
    }
}

/* Estilo para los degradados */
.degradetopbanner {
    background-image: radial-gradient(ellipse, rgb(255, 144, 187), rgb(255, 112, 166));
}

.degrademenuprincipal {
    background-image: radial-gradient(circle, $sitecolor, rgb(255, 190, 126));
}
