@use '../base/variables' as *;

.temporada {
    padding-left: 5px;          // espacio a izquierda de las temporadas (verano, invierno)
} 

.temporada a {
    color: $sitecolor;
    text-decoration: none;    
    font-family: $sitefont;
    font-size: 20px;
}

.newsletter {
    text-align: center;
}

